.section {
  border: 2px solid #369;
  padding: 1rem;
  margin: 1rem 0;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/